@import '../../../styles/settings.scss';

.card_wrapper {
  border: none;
  width: 380px;
  z-index: 4;
  display: flex;
  align-items: center;

  .image {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin-top: 17px;
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .card_body{
    padding: 0px 0px 10px 0px;
  }

  .categories_text {
    font-size: 13px;
    opacity: 0.7;
    margin: 0;
  }

  // .stars_fill {
  //   color: $stars-color;
  // }

  // .stars {
  //   color: rgb(143, 143, 143);
  // }

  .label {
    font-size: $base-size;
    color: $text-color-white;
    &_sale {
      padding: 5px;
      background-color: $label-sale;
    }
    &_top {
      padding: 5px;
      background-color: $label-top;
    }
    &_out {
      padding: 5px;
      background-color: $label-out;
    }
  }

  .new_price {
    color: $price-color-new;
    font-weight: bold;
    padding-right: 8px;
  }

  .old_price {
    color: $price-color-old;
    text-decoration: line-through;
  }
}

// @media (max-width: 963px){
//     .card_wrapper {
//     border: none;
//     width: 285px;
//   }
// }


// @media (max-width: 950px){
//     .card_wrapper {
//     border: none;
//     width: 350px;
//   }
// }


// @media (max-width: 780px){
//     .card_wrapper {
//     border: none;
//     width: 285px;
//   }
// }