@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  font-size: $base-size * 1.6;
  text-transform: uppercase;
  color: #000;
  padding: 0 !important;
  a {
    color: #000;
  }
}

.activeStyle {
  color: red;
}

.allContainer {
  position: sticky;
  top:0px;
  z-index: 999;
  background-color: #fff;
  padding: 0;
  box-shadow: 0px 5px 9px -8px rgba(66, 68, 90, 1);
}

@media(min-width:992px){
  .NavbarFlex {
    display: flex;
    justify-content: center;
  }
}

@media(max-width:992px){
  .allContainer {
    position:static;
  }
}