@import '../../../styles/settings.scss';

.root {
  background-color: #eee;
  text-transform: uppercase;
  font-size: $base-size * 1.1;
  text-decoration: none;
  .container {
    margin: 0 auto;
    justify-content: end;
    width: 1200px;
    display: flex;
  }
  a{
    color: #777;
    &:hover{
      color: #111;
    }
  }

  &.login {
    display: flex;
    flex-direction: row;
  }
}