@import './../../../styles/layout.scss';

.container {
  text-align: center;
  height: auto;
  padding: 24px;
}

.product_container{
  padding-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}