@import './../../../styles/layout.scss';

.container {
  background-color: #eee;
  height: auto;
  padding: 48px 24px 24px 24px;

  .products_container{
    padding-top: 36px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
}